* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.swipe-scroller {
	position: relative;
	top: 0px;
	height: 360px;
	margin: 0px;
	padding: 0px;
	float: left;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.logo {
	margin: 0px auto;
	display: block;
}

#progressHolder {
	position: relative; 
	top: 0px;
	left: 0px;
	width: 360px;
	height: 360px;
	z-index: 1;
}

#countdown {
	position: relative; 
	top: 234px;
	left: 8px;
	width: 360px;
	height: 20px;
	z-index: 1;
	text-align: center;
	color: black;
}

.timer {
	position: relative;
	width: 360px;
	text-align: center;
	top: 20px;
	font-size: 60px;
}

.timer.off {
	color: #D0D0D0;
}

.timer.on {
	color: #A0F0FF;
}

.ui-page{
	width:360px;
	height: 360px;
}

#footer {
	z-index: 2;
}